# Analyser data fra kompensasjonsordningen med Python og Pandas

I denne notatboken brukes data om tildelinger av støtte fra Kompensasjonsordningen for næringslivet.
Dataene ligger som både .json og .csv i dette repositoriet, men inneholder ikke de siste tallene. Dersom du ønsker å bruke oppdaterte tall kan de hentes fra hhv [link1] og [link2].

Steg 0: Installer Pandas

Dersom du ikke har gjort det allerede, installer Pandas. Bruk % for å indikere at det ikke er python-kode men en 'magisk' kommando:

In [1]:
%pip install pandas

Collecting pandas
  Downloading pandas-1.2.3-cp39-cp39-manylinux1_x86_64.whl (9.7 MB)
     |████████████████████████████████| 9.7 MB 3.2 MB/s
Collecting numpy>=1.16.5
  Downloading numpy-1.20.1-cp39-cp39-manylinux2010_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 19.3 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in ./.venv/lib/python3.9/site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 13.2 MB/s
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.20.1 pandas-1.2.3 pytz-2021.1
Note: you may need to restart the kernel to use updated packages.

Steg 1: Litt info om datasettet

Vi starter med å se på csv-filen, og finne litt ut om den

Vedtak skjer løpende. Oppdaterte data legges ut hver time. For de nyeste dataene gjør ...

In [7]:
import pandas as pd

df = pd.read_csv('tilskudd.csv', sep=';')
df.head()

   tilskuddsnummer  ...  uavhengigMedsignererNavn
0       2021009917  ...     COLLEGIUM REVISJON AS
1       2021009916  ...                    BDO AS
2       2021009915  ...       PARTNER REVISJON AS
3       2021009914  ...            MYHRERS RTB AS
4       2021009913  ...                  VEKTE AS

[5 rows x 20 columns]

Vi ser at ... osv ...

In [9]:
df.describe()

       tilskuddsnummer  ...  uavhengigMedsignererOrganisasjonsnummer
count     9.048000e+03  ...                             9.048000e+03
mean      2.021005e+09  ...                             9.544368e+08
std       2.847589e+03  ...                             4.161825e+07
min       2.021000e+09  ...                             8.121884e+08
25%       2.021003e+09  ...                             9.206667e+08
50%       2.021005e+09  ...                             9.744623e+08
75%       2.021007e+09  ...                             9.875649e+08
max       2.021010e+09  ...                             9.996475e+08

[8 rows x 9 columns]

Det som er mest interessant å få frem verdier på er ikke med, som tilskuddsbeløp, og ulike omsetningstall. Det skyldes at disse verdiene leses inn som tekst istedenfor tall, pga komma som desimaltegn.

In [10]:
df.columns

Index(['tilskuddsnummer', 'tilskuddsmottakerOrganisasjonsnummer',
       'tilskuddsmottakerNavn', 'kommunenummer', 'kommune', 'fylkesnummer',
       'fylke', 'naeringskode1', 'naeringskode2', 'naeringskode3',
       'tilskuddsbelop', 'tildelingsdato', 'tilskuddsperiode',
       'sammenligningsperiode',
       'sumFasteUungaaeligeKostanderITilskuddsperioden',
       'omsetningITilskuddsperiode', 'omsetningISammenligningsperiode',
       'justeringsfaktor', 'uavhengigMedsignererOrganisasjonsnummer',
       'uavhengigMedsignererNavn'],
      dtype='object')

In [18]:
df['tilskuddsbelop']

0       125488,00
1       208706,41
2        15008,28
3         7950,66
4        83134,37
          ...
9043     20367,53
9044     56709,39
9045      9844,00
9046     11624,90
9047    156339,75
Name: tilskuddsbelop, Length: 9048, dtype: object

Må lese inn Excel-fila igjen og denne gangen presiserer vi hva som er desimalskilletegnet:

In [19]:
df = pd.read_csv('tilskudd.csv', sep=';', decimal=',')

In [20]:
df.describe()

       tilskuddsnummer  ...  uavhengigMedsignererOrganisasjonsnummer
count     9.048000e+03  ...                             9.048000e+03
mean      2.021005e+09  ...                             9.544368e+08
std       2.847589e+03  ...                             4.161825e+07
min       2.021000e+09  ...                             8.121884e+08
25%       2.021003e+09  ...                             9.206667e+08
50%       2.021005e+09  ...                             9.744623e+08
75%       2.021007e+09  ...                             9.875649e+08
max       2.021010e+09  ...                             9.996475e+08

[8 rows x 9 columns]

In [21]:
df['tilskuddsbelop']

0       125488.00
1       208706.41
2        15008.28
3         7950.66
4        83134.37
          ...
9043     20367.53
9044     56709.39
9045      9844.00
9046     11624.90
9047    156339.75
Name: tilskuddsbelop, Length: 9048, dtype: float64